//
   Created by janez on 4/9/15.
div
  h1(id="#{page}welcome" data-nav-label='#{gettext("Welcome")}') #{gettext("Welcome to js-gettext-primer")}

  p #{gettext("This primer is a work in progress. Content coming soon (tm)!")}

  p #{gettext("However there is a full JavaScript gettext implementation present. Feel free to have a look around the code.")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}


  h2(id="#{page}welcome-sub" data-nav-label='#{gettext("Subtitle")}' data-nav-parent='#{page}welcome') #{gettext("This is a subtitle")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}

  h1(id="#{page}another-title" data-nav-label='#{gettext("Another title")}') #{gettext("This is another h1")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}


  h2(id="#{page}antoher-title-sub" data-nav-label='#{gettext("Another subtitle")}' data-nav-parent="#{page}another-title") #{gettext("Test it out")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}

  p #{gettext("I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here I have something something to say here ")}
